body {
  background-color: #000000;
  color: white;
  font-family: arial;
}

.display-calc {
  font-size: 2em;
}
.black-buttons {
  color: white;
  background-color: #363636;
  font-size: 1.3em;
  padding: 20px 15px;
  border: none;
  width: 60px;
  font-weight: bolder;
  border-radius: 40px;
  margin-right: 5px;
}

.clear {
  font-size: 0.8em;
  padding: 20px 15px;
  margin: 0;
  width: fit-content;
  /* text-align: center; */
  border-radius: 50px;
}

.orange-buttons {
  color: white;
  background-color: #e4932a;
  font-size: 1.3em;
  padding: 20px;
  border: none;
  width: 60px;
  font-weight: bolder;
  border-radius: 40px;
  text-align: center;
}
