.is-toggled {
  background-color: rgb(223, 223, 223);
  color: black;
  border: none;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}
.toggled {
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: black;
  color: white;
}
